@media print {
    body * {
        visibility: hidden;
  }

    .cv-preview,
    .cv-preview * {
        visibility: visible;
  }

    .cv-preview {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        max-width: none !important;
        min-width: 0 !important;
        box-shadow: none !important;
        margin: 0 !important;
        padding: 20px !important;
        background-color: white !important;
        height: 100% !important;
  }


}

.cv-container{
    height: 90vh;
    width: 35%;
    min-width: 794px;
    overflow: scroll;
    background-color: rgb(245, 245, 245);
    display: flex;
    padding: 20px;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
    align-items: center;
}
.cv-preview {
    width: 100%;
    max-width: 794px; 
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    color: #222;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-grow: 1;
}


.summary{
    border: 0;
}
section:not(:first-child){
    margin: 10px 0;
}


section{
  border-top: 1px solid #ccc;
}

.identity{
    display: flex;
    min-width: 100%;
    justify-content: space-between;
    border: none !important;
}


.identity-name> :last-child{
    color: #333;
}
.identity-name h1{
    font-size: 38px;
}
.contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    line-height: 8px;
}
.contact a{
    text-decoration: none;
}

.inline{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.inline p{
    margin: 0;
}

.inline-li{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    margin: 4px 0;
    
}

.inline-li li:not(:last-child)::after {
    content: "|";
    margin:0 6px;
}
    

.year{
    font-style: italic;
    font-size: 12px;
}

h3{
    margin: 10px 0;
    font-size: 18px;
}

hr {
  border: none;
  border-bottom: 5px solid #ababab;
}

p{
    font-size: 13px;
}
a{
    font-size: 13px;
    color: rgb(0, 61, 202);
}

.title{
    font-size: 16px;
    color: #000;
    margin:4px 0;
}

h5,p{
    margin-bottom: 4px;
}
h5{
    font-size: 14px;
}