.form{
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 90%;
}

.form-container{
    width: 40%;
    height: 90vh;
    background-color: rgb(159, 0, 0);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: scroll;
    padding: 20px;
    
}
